<!DOCTYPE html>
<html>
  <head>
    <title>DarcyReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- nav bar -->
    <h1>Darcy Review</h1>
    <h2>Who Darcyed it best?</h2>

    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <ul class="left">
          <% if user_signed_in? %>
            <li><a href="/users/edit">Update Profile</a></li>
            <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><a href="/users/sign_up">Sign Up</a></li>
            <li><a href="/users/sign_in">Sign In</a></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <!-- flash messages -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <!-- main content -->
    <%= yield %>
  </body>
</html>
